In [61]:
# Label Encoder

In [7]:
classes = ['ClassA','ClassB','ClassC','ClassD']
instances = ['ClassA','ClassB','ClassC','ClassD','ClassA','ClassB','ClassC','ClassD','ClassA','ClassB','ClassC']

In [8]:
label_to_int = {label: index for index, label in enumerate(classes)} #60 Days of Python ; Day 25
encoded_labels = [label_to_int[label] for label in instances]

print("Encoded labels:", encoded_labels)

Encoded labels: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2]

In [54]:
lab_to_int = {label: index for index, label in enumerate(classes)}
encoded_labels = [lab_to_int[label] for label in instances]

In [55]:
print("The encoded label is : " , encoded_labels)

The encoded label is :  [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2]

In [9]:
label_to_int = {label: index for index, label in enumerate(classes)}

In [10]:
encoded_labels = [label_to_int[label] for label in instances]

In [11]:
encoded_labels

[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2]

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
label_elencoder = LabelEncoder()

In [14]:
encoded_label = label_encoder.fit_transform(classes)

In [15]:
encoded_label

array([0, 1, 2, 3], dtype=int64)

In [16]:
original_label = label_encoder.inverse_transform(encoded_label)

In [17]:
original_label

array(['ClassA', 'ClassB', 'ClassC', 'ClassD'], dtype='<U6')

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
label_encoder = LabelEncoder()

In [20]:
encoded_label = label_encoder.fit_transform(instances)

In [21]:
encoded_label

array([0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2], dtype=int64)

In [22]:
import pandas as pd

In [23]:
data = pd.read_excel(r"C:\Users\User\Desktop\Sam\Data_Set\car.xlsx")

In [24]:
data

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       22         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [25]:
data.isnull().sum()

speed         0
car_age       0
experience    1
risk          0
dtype: int64

In [26]:
data.experience = data.experience.fillna(data.experience.median())

In [27]:
data.isnull().sum()

speed         0
car_age       0
experience    0
risk          0
dtype: int64

In [28]:
data.shape

(6, 4)

In [29]:
data

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       22         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [30]:
data.head()

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       22         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82

In [31]:
data['Name'] = ['SiamA','SiamB','SiamC','SiamD','SiamE','SiamF']

In [32]:
data.head()

   speed  car_age  experience  risk   Name
0    200       15         5.0    85  SiamA
1     90       17        13.0    20  SiamB
2    165       22         4.0    93  SiamC
3    110       20         5.0    60  SiamD
4    140        5         3.0    82  SiamE

In [33]:
from sklearn.preprocessing import LabelEncoder

In [34]:
label_encoder = LabelEncoder()

In [35]:
encoded_label = label_encoder.fit_transform(data['Name'])

In [36]:
data.head()

   speed  car_age  experience  risk   Name
0    200       15         5.0    85  SiamA
1     90       17        13.0    20  SiamB
2    165       22         4.0    93  SiamC
3    110       20         5.0    60  SiamD
4    140        5         3.0    82  SiamE

In [37]:
data['Name']

0    SiamA
1    SiamB
2    SiamC
3    SiamD
4    SiamE
5    SiamF
Name: Name, dtype: object

In [38]:
encoded_label

array([0, 1, 2, 3, 4, 5])

In [39]:
data['encoded_name'] = encoded_label

In [40]:
data.head()

   speed  car_age  experience  risk   Name  encoded_name
0    200       15         5.0    85  SiamA             0
1     90       17        13.0    20  SiamB             1
2    165       22         4.0    93  SiamC             2
3    110       20         5.0    60  SiamD             3
4    140        5         3.0    82  SiamE             4

In [41]:
nn = ['Name']

In [42]:
nn

['Name']

In [43]:
# Binary Encoder

In [44]:
data = {'Catagory' : ["A","B","C","A","B","C","A","B","C"]}

In [45]:
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\user\anaconda3\lib\site-packages (2.6.4)
Requirement already satisfied: numpy>=1.14.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (1.5.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (0.14.2)
Requirement already satisfied: pandas>=1.0.5 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in c:\users\user\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (24.1)

In [46]:
import category_encoders as ce

In [47]:
df = pd.DataFrame(data)

In [48]:
df

  Catagory
0        A
1        B
2        C
3        A
4        B
5        C
6        A
7        B
8        C

In [49]:
df.shape

(9, 1)

In [50]:
encoder = ce.BinaryEncoder(cols = ['Catagory'], return_df = True)

In [51]:
dbe = encoder.fit_transform(df)